# Auto detect text files and perform LF normalization
* text=auto
* .csv text eol=crlf
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
# でも画像/音声/動画/アーカイブは絶対バイナリ扱い
*.png  -text
*.jpg  -text
*.jpeg -text
*.gif  -text
*.webp -text
*.dds  -text
*.tga  -text
*.psd  -text
*.wav  -text
*.mp3  -text
*.ogg  -text
*.flac -text
*.mp4  -text
*.mov  -text
*.zip  -text
*.pdf  -text